:root {
  --badge-background-color: #f2f4f7;
  --input-background-color: #f7f7f7;
  --background-white: #ffffff;
  --primary-color: #101828;
  --text-color: #475467;
  --primary-gray: #6c717b;
  --light-gray: #dadde1;
  --primary-button-color: #e44848;
  --button-hover-color: #d84343;
  --star-rating-color: #ffc531;
  --default-transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 72px;
  background-color: var(--input-background-color);
  max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
